@import 'compass';

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
    (-o-min-device-pixel-ratio: 2.6/2),
    (-webkit-min-device-pixel-ratio: 1.3),
    (min-device-pixel-ratio: 1.3),
    (min-resolution: 1.3dppx) {
      /* on retina, use image that's scaled by 2 */
      background-image: url($image);
      background-size: $width $height;
    }
}

.fb-like {
  width: 100px;
}

article.post {
  padding-bottom: 5px;
}

.social-links, h1, h2 {
  a {
    color: inherit;
    &:hover {
      color: inherit;
      @include text-shadow(0px 1px 3px rgba(0, 0, 0, 0.15));
    }
  }
}

.article-content {
  img {
    max-width: 100%;
    width: auto;
    display: block;
    margin: 0 auto;

    &.img-portrait {
      @media (min-width: 540px) {
        max-width: 500px;
      }
    }
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.page-nav{
  height: 20px;
  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  i {
    vertical-align: -1px;
    font-size: 15px;
  }
}

.article-metadata {
  margin-bottom: 10px;
  @media (max-width: 479px) {
    span {
      display: block;
    }
    time span {
      display: inline;
    }
  }
}

body{
  background-image: url('/images/subtle_patterns/white_wall_hash.png');
  @include image-2x('/images/subtle_patterns/white_wall_hash_@2X.png',50px,50px);
  font-weight: 300;
}